.count_person {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
}

.center_content {
    text-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.prices_container {
    border-bottom: 1px solid gray;
}

.woocommerce-price-amount {
    display: none !important;
}

.warning {
    background-color: var(--bs-primary-border-subtle) !important;
    padding: 20px;
    border-radius: 10px;
}

.round-trip-container {
    padding: 20px 0 !important;
}

/* .btn {
    border-radius: 25px !important;
    padding: 10px 20px;
} */

/* .input {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: none !important;
}

.input-50 {
    width: 50%;
}

.input-container {
    display: flex;
    width: 100%;
} */

.switch {
    border-radius: 50px;
    align-content: center;
    padding: 10px;
    cursor: pointer;
}

.option {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    /* background-color: var(--bs-gray-300); */
    user-select: none;
}

.option-selected {
    background-color: var(--bs-gray-300);
    color: black;
}

/* .option-selected:hover {
    color: white !important;
    color: black;
} */

.operator-product-info {
    position: relative;
}

.overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.option:hover {
    border: 2px solid var(--bs-gray-300);
}

.option-disabled:hover {
    color: var(--bs-secondary) !important;
    border: 1px solid var(--bs-secondary) !important;
}

.top-label {
    padding: 0 16px;
    font-size: 10pt;
    font-weight: lighter;
}

.without-padding {
    padding: 0;
}

.third-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.third-container .left {
    order: 1;
    align-self: flex-end;
}

.third-container .center {
    order: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.third-container .rigth {
    order: 3;
    align-self: flex-start;
}


/* Estilos para los checkbox */

.tab {
    border-radius: 20px;
    width: 48px;
    height: 24px;
    overflow: hidden;
    margin: 5px;
    background-color: var(--bs-primary);
    float: left;

    user-select: none;
}

.opt2 input[type=checkbox] {
    user-select: none;
    appearance: none;
    border-radius: 15px;
    height: 20px;
    width: 44px;
    margin: 2px;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: background-color 0.1s;
}

.opt2 input[type=checkbox]::before {
    display: block;
    position: relative;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    margin: 4px;
    background-color: var(--bs-primary);
    content: "";
    transition: width 0.1s;
}

.opt2 input[type=checkbox]:checked::before {
    width: 36px;
    transition: width 0.1s;
    content: "";
    overflow: hidden;
}

.scrolleable-pane {
    max-height: 150px;
    overflow-y: scroll;
}

.git-transport-caption {
    width: 100%;
    height: 200px !important;
    object-fit: cover;
}

.carousel-caption {
    text-align: left;
    text-shadow: 2px 2px 5px black;
}